body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(23, 7, 7);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.div{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding-top: 140px;
}
h1{
  text-align: center;
  color:aqua;
  padding-top: 60px;
}
textarea{
  background-color: aqua;
  color: black;
  align-items: center;
}
.conatinerr{
  border: 1px solid grey;
  /* width: 60%; */
/* height: 400px; */
}

